@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');

@media (min-width: 768px) {

    /*POST*/
    #post{
        width: 1124px;
        margin: 25px auto 20px auto;
        display: block;
    }
    #post article{
        display: flex;
        flex-direction: column;
    }
    #post .label{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #post .label span{
        font-size: 20px;
        font-weight: bold;
        color: darkorange;
        margin-right: 15px;
    }
    #post .label .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: darkorange;
        padding: 5px;
        margin-right: 10px;
    }
    #post .label .circle i{
        color: white;
    }
    #post .label small{
        color: gray;
        font-size: 12px;
    }
    #post h1{
        color: black;
        font-size: 32px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #post h2{
        color: gray;
        font-size: 17px;
        font-weight: normal;
    }
    #post .author{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        margin-top: 20px;
    }
    #post .author img{
        width: 64px;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin-right: 10px;
    }
    #post .author .info{
        display: flex;
        flex-direction: column;
    }
    #post .author .info .name{
        font-size: 14px;
        margin-bottom: 5px;
    }
    #post .author .info .name span{
        font-weight: bold;
        cursor: pointer;
    }
    #post .author .info .fecha{
        font-size: 14px;
        color: gray;
        margin-bottom: 5px;
    }
    #post .author .info .email{
        font-size: 14px;
        color: gray;
    }
    #post .rrss{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top:15px;
        cursor: pointer;
    }
    #post .rrss .fa-facebook-f{color: rgb(42,110,227)}
    #post .rrss .fa-twitter{color: rgb(42,171,227)}
    #post .rrss .fa-linkedin-in{color: rgb(14,62,143)}
    #post .rrss .fa-youtube{color: rgb(198,65,65)}
    #post .rrss .fa-telegram{color: rgb(107,206,120)}
    #post .rrss .fa-google-plus-g{color: rgb(200,60,70)}

    #post .rrss i{
        margin: 0 20px;
        font-size: 17px;
    }
    #post figure{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    #post figure figcaption{
        color: rgb(80,80,80);
        font-size: 12px;
        margin: 5px;
        max-width: 750px;
    }
    #post img{
        width: 100%;
        max-width: 750px;
    }
    #post p{
        max-width: 750px;
        font-size: 17px;
        color: black;
        line-height: 30px;
    }
    #health-news p{
        max-width: 750px;
        font-size: 17px;
        color: black;
        line-height: 30px;
        padding-bottom: 20px;
    }
    #post p span{
        color: black;
        font-weight: bold;
    }
    #post .illness{
        margin-left: 30px;
        margin-top: 30px;
    }
    #post .illness li{
        margin-bottom: 15px;
    }


    /*BMI CALCULATOR*/

    #health-news{
        width: 1124px;
        margin: 25px auto 20px auto;
        display: block;
    }
    #health-news .title{
        display: flex;
        flex-direction: column;
    }
    #health-news .title h1 {
        font-size: 30px;
        margin: 15px 0 20px;
    }

    .bmi-calculator {
        width: 25%;
        background-color: #252425;
        text-align: center;
        padding: 15px;
        border-radius: 10px;
        margin-left: 25%;
    }

    #health-news .bmi-calculator p {
        color: white;
    }

    #w, #h {
        color: white;
        text-align: left;
        font-size: 15px;
        outline: none;
        border: none;
        background: none;
        border-bottom: 1px solid white;
        width: 150px;
    }

    #health-news .bmi-calculator span {
        color: red;
    }

    #result {
        margin-top: 5px;
        color: white;
    }

    #btn {
        font-size: 15px;
        margin-top: 5px;
        border: none;
        color: black;
        width: 150px;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        margin-bottom: 15px;
    }

    #btn:hover {
        background-color: lightgray;
    }

    #health-news .bmi-calculator #info {
        font-size: 12px;
    }
}